<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Novus Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Widgets ::
        w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/vue.js" type="text/javascript"></script>
    <script src="js/axios.js" type="text/javascript"></script>
    <!--webfonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <style>
        .div-inline {
            display: inline-block;
        }
    </style>
    <style>
        .round_icon {
            width: 70px;
            height: 70px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
    </style>
    <style type="text/css">
        table {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
        }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }
    </style>
    <style>
        input:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
        }
    </style>
    <!--//end-animate-->
    <!--skycons-icons-->
    <script src="js/skycons.js"></script>
    <!--//skycons-icons-->
    <!--circlechart-->
    <script src="js/jquery.circlechart.js"></script>
    <!--circlechart-->
    <!-- Metis Menu -->
    <script src="js/metisMenu.min.js"></script>
    <script src="js/custom.js"></script>
    <link href="css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <!--left-fixed -navigation-->
    <div class=" sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="findNumber.html"><img src="image/16.png" width="35px;" height="35px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;找回账号</a>
                    </li>
                    <li>
                        <a href="record.html"><img src="image/15.png" width="35px;" height="35px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作日志</a>
                    </li>
                    <li>
                        <a href="movie.html"><img src="image/18.png" width="35px;" height="35px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理视频</a>
                    </li>
                    <li>
                        <a href="modify.html"><img src="image/14.png" width="35px;" height="35px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理账号</a>
                    </li>
                    <li>
                        <a href="administrators.html"><img src="image/13.png" width="35px;" height="35px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人中心</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <!--logo -->
            <div class="logo">
                <a href="administrators.html">
                    <h1>模块功能</h1>
                    <span>管理员</span>
                </a>
            </div>
            <!--//logo-->
            <div class="col-lg-6" id="searchBox" style="top: 20px;">
                <div class="input-group">
                    <input placeholder="搜索视频内容" type="text"
                           id="input-31" class="form-control"/>
                    <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="getSearchData()">搜索</button>
                    </span>
                </div>
            </div><!--//end-search-box-->
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
        <div id="ads">
            <table class="table">
                <tr>
                    <td>序号</td>
                    <td>视频路径</td>
                    <td>视频内容</td>
                    <td>视频标签</td>
                    <td>操作</td>
                </tr>
                <tr v-for="(site,index) in sites">
                    <td v-text="index+1"></td>
                    <td>
                        <input type="text" v-model="path[index]" style="width: 300px;"/>
                    </td>
                    <td>
                        <input type="text" v-model="content[index]" style="width: 150px;"/>
                    </td>
                    <td>
                        <input type="text" v-model="label[index]" style="width: 100px;"/>
                    </td>
                    <td>
                        <button @click="updUser(path[index],content[index],label[index])" class="btn btn-info" >更新</button>
                        <button @click="delUser(site.u_number)" class="btn btn-danger">删除</button>
                    </td>
                </tr>
                <button style="visibility: hidden;width: 0px;height: 0px" id="buttons" @click="showData()">123</button>
            </table>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <p>&copy; 开放教育资源融合与个性化推荐系统的设计与实现</p>
    </div>
    <!--//footer-->
</div>
<!-- Classie -->
<script src="js/classie.js"></script>
<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };

    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>
<script>
    new Vue({
        el: '#ads',
        data: {
            sites: [],
            path: [],
            content: [],
            label: []
        },
        mounted() {
            axios.get("http://localhost:8080/getMovie")
                .then(response => ( console.log(response.data),
                    response.data.forEach(element=>{
                        this.path.push(element.r_path),
                            this.content.push(element.r_content),
                            this.label.push(element.r_label)

                    }),
                        this.sites = response.data))
        },
        methods: {
            delUser(data) {
                var result = confirm('确认删除吗！');
                if (result) {
                    console.log(data)
                    axios.get("http://localhost:8080/deleteUser?u_number=" + data)
                        .then(response => (alert("删除成功"), this.sites = response.data))
                }
            }, updUser(path, content, label) {
                console.log(path)
                console.log(content)
                console.log(label)
            }, showData() {
                var result = document.getElementById("input-31").value;
                axios.get("http://localhost:8080/searchMovie?r_content=" + result)
                    .then(response => (
                        console.log(response.data),
                            this.path=[],
                            this.content=[],
                            this.label=[],
                            response.data.forEach(element=>{
                                this.path.push(element.r_path),
                                this.content.push(element.r_content),
                                this.label.push(element.r_label)

                            }),
                            this.sites = response.data))
            }
        }
    })
</script>


<script>
    function clears() {
        document.getElementById("names").value = ''
        document.getElementById("pass").value = ''
        document.getElementById("passwo").value = ''
    }
</script>
<script>
    function getSearchData() {
        var result = document.getElementById("input-31").value;
        document.getElementById("buttons").click();
    }
</script>
<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!--//scrolling js-->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js"></script>
</body>
</html>
